<section class="text-white bg-zinc-900 h-screen flex">
  <div class="container mx-auto flex flex-col justify-center items-center h-full">
    <div class="w-full px-5 py-24 sm:px-0 text-center fade-in-container">
      <a href="/about" class="font-extrabold sm:text-7xl text-7xl fade-in-text" style="font-family: Kumbh Sans;">qqey.net</a>
    </div>
  </div>
</section>

<style>
  @keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-text {
  animation: fade-in 2s linear;
}
</style>
