<section
  class="text-white bg-zinc-900 h-screen w-screen flex justify-center items-center body-font"
>
  <div
    class="container mx-auto flex flex-col px-5 py-24 justify-center items-center"
  > 

    <div class="font-Kumbhsans font-extrabold sm:text-6xl text-6xl pb-6">qqey.net</div>
  </div>
</section>
