
.breadcrumb-body {
    font-family: 'Noto Sans JP';
        src: url('/fonts/noto-sans-javanese-v21-latin-regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}
