---
import Logo from "../components/View/Logo.astro";
import MainHead from "../components/Header/MainHead.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <MainHead />
  </head>

  <body>
    <Logo />
  </body>
</html>

<script>
  setTimeout(() => {
    window.location.href = "/about";
  }, 4000);
</script>
