---
import Logo from "../components/View/Logo.astro";
import Footer from "../components/Footer/Footer.astro";
import MainHead from "../components/Header/MainHead.astro";
---


<!DOCTYPE html>
<html lang="ja">
  <head>
    <MainHead />
  </head>

  <body>
    <Logo />
    <Footer />
  </body>
</html>

