---
import Typewriter from "../components/View/Typewriter.astro";
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import MainHead from "../components/Header/MainHead.astro";
import TsparticlesAstro from "../components/View/TsparticlesAstro.astro";
---


<!DOCTYPE html>
<html lang="ja">
  <head>
    <MainHead />
  </head>

  <body>
    <Header />
    <Typewriter />
    <TsparticlesAstro />
    <Footer />
  </body>
</html>

