---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import MainHead from "../components/Header/MainHead.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <MainHead />
  </head>

  <body>
    <Header />

    <section>
      <div
        class="md:text-5xl text-2xl text-center pt-72 font-bold text-gray-600"
      >
        <div class="sentence">
          <ul class="typewriter-cycle">
            <li><typewritten-text>Welcome to qqey.net</typewritten-text></li>
          </ul>
        </div>
      </div>
    </section>
    <span id="typewriter"></span>

    <Footer />
    <script>
      document.querySelectorAll(".typewriter-cycle").forEach((cycle) => {
        const items = cycle.querySelectorAll("typewritten-text");
        for (let i = 0; i < items.length; ++i) {
          const cur = items[i];
          const next = items[i === items.length - 1 ? 0 : i + 1];

          cur.addEventListener("typewritten-text:phrasetyped", () =>
            setTimeout(cur.start, cur.phraseInterval)
          );
          cur.addEventListener("typewritten-text:phraseremoved", () => {
            cur.classList.remove("active");
            next.classList.add("active");
            setTimeout(next.start, next.phraseInterval);
          });
        }
      });
    </script>
  </body>
</html>
