---
import "normalize.css";
---

<header>
  <div class="header">
    <div class="logo">qqey.net</div>
    <div class="header_contents">
      <div class="navi">
        <ul>
          <li><a href="/works">Works</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<style>
  ul {
    list-style: none;
  }
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  a:hover {
    color: rgb(233, 149, 22);
  }

  .header {
    height: 70px;
    margin-bottom: 20px;
    background-color: #272727;
    display: flex;
    align-items: center;
  }
  .header_contents {
    margin: 0 auto;
    width: 980px;
    display: flex;
  }
  .logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .navi {
    margin-left: auto;
  }
</style>
