---
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="generator" content={Astro.generator} />
  <title>qqey.net</title>

  <!-- OGP -->
  <meta property="og:type" content="profile" />
  <meta property="og:title" content="qqey.net" />
  <meta property="og:url" content="https://www.qqey.net/" />
  <meta property="og:image" content="" />
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:description" content="" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mikan_54951" />

  <!-- Icon -->
  <link rel="shortcut icon" href="" type="image/vnd.microsoft.icon" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <link
    rel="stylesheet"
    href="https://unpkg.com/flowbite@latest/dist/flowbite.min.css"
  />
  <script src="https://unpkg.com/flowbite@latest/dist/flowbite.js"></script>
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (
      localStorage.getItem("color-theme") === "dark" ||
      (!("color-theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>
</head>
