---
import Header from "../components/Header/Header.astro";
import MainHead from "../components/Header/MainHead.astro";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <MainHead title="qqey.net" />
    <Header />
  </head>
  <body>
    <slot />
  </body>
</html>
