---
import Breadcrumb from "../components/View/Breadcrumb.astro";
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import MainHead from "../components/Header/MainHead.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <MainHead />
  </head>

  <body>
    <Header />

    <div
      class="relative max-w-2xl mx-auto md:max-w-2xl min-w-0 break-words bg-white w-full shadow-lg rounded-md mt-14"
    >
      <div class="markdown-body p-10 text-gray-600 leading-normal">
        <Breadcrumb />
        <slot />
      </div>
    </div>

    <Footer />
    <style is:global>
      .markdown-body ul {
        @apply list-disc pl-4 mb-4;
      }
      .markdown-body h1,
      h2,
      h3 {
        @apply mb-4 mt-4 text-2xl font-semibold;
      }
      .markdown-body h1,
      h2 {
        @apply border-b-2 border-solid border-gray-200;
      }
      .markdown-body h1 {
        @apply text-4xl pb-2;
      }
      .markdown-body h2 {
        @apply text-2xl;
      }
      .markdown-body h3 {
        @apply text-xl;
      }
      .markdown-body p {
        @apply mb-4;
      }
      .markdown-body a {
        @apply text-blue-500;
      }
    </style>
  </body>
</html>
