---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import MainHead from "../components/Header/MainHead.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <MainHead title="qqey.net" />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
