---
import Breadcrumb from "../components/View/Breadcrumb.astro";
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import MainHead from "../components/Header/MainHead.astro";
// github-markdown-css
import "../styles/github-markdown.css";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <MainHead />
  </head>

  <body>
    <Header />
    <div
      class="relative max-w-2xl mx-auto md:max-w-3xl min-w-0 break-words w-full rounded-md mt-14"
    >
      <div class="p-5 text-gray-700 leading-normal">
        <div class="markdown-body mb-5">
          <slot />
        </div>  
      </div>
    </div>
    <Footer />
  </body>
</html>
