---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import MainHead from "../components/Header/MainHead.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <MainHead />
  </head>

  <body>
    <Header />

    <div
      class="relative max-w-2xl mx-auto md:max-w-2xl min-w-0 break-words bg-white w-full shadow-lg rounded-md mt-16"
    >
      <div class="p-10">
        <slot />
      </div>
    </div>

    <Footer />
  </body>
</html>
